<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>


<div class="sidebar">
    <div class="logoContainer">
        <img width="120" height="100" style="object-position: center" alt="BSlogo" src="/images/logo-hat-golden.png" >
    </div>
    <div id="intro">Welcome, </div>
    <ul class="navigation">
        <a href="dashboard.html"><li>Home</li></a>
        <a href="portfolio.html"><li>Portfolio</li></a>
        <a href="account.html"><li>Account</li></a>
        <a href="marketplace.html"><li>Marketplace</li></a>
        <a id = logout href="index.html"><li>Log out</li></a>
    </ul>
    <div id="terms">
        <a href="termsconditions.html">terms & conditions</a>
    </div>
</div>

<script>
    const logout = document.querySelector("#logout")
    logout.addEventListener("click", function() {
        window.localStorage.clear();
    })
</script>