@font-face {font-family: "Paradise";
    src: url("/fonts/Paradise.woff") format('woff');
    font-weight: normal;;
}

@font-face {font-family: "Paradise bold";
    src: url("/fonts/Paradise Bold.woff") format('woff');
    font-weight: normal;
}
@font-face {font-family: "Sinatra";
    src: url("/fonts/Sinatra.woff") format('woff');
    font-weight: normal;
}

body{
    background-color: #012128ff;
}

header{
    margin: 10px 10px 10px 200px;
    padding: 10px;
    color: #f5e8ccff;
    font-size: 50px;
    font-family: Paradise,"Palatino Linotype", monospace;
    /*align-content: center;*/
    /*align-items: center;*/
    /*align-self: center;*/
    /*alignment: center;*/
    text-align: center;
    /*text-align-all: center;*/
}

.dashboard-container{
    display: flex;
    margin: 20px 20px 20px 188px;
    width: 90%;
    align-content: center;
    justify-content: center;
}

.dashboard-container div {
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
    border-color: #181401FF;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    margin: 10px;
    width: 25%;
    color: #fff3e2;
    font-size: 60px;
    font-family:"Palatino Linotype", monospace;
    text-align: center;
}

#FS1 {
    background-image: url("/images/FS1Big.jpg");
    background-size: cover;
    opacity: 0.9;
    cursor: pointer;
}

#FS2 {
    background-image: url("/images/FS4Big.jpg");
    background-size: cover;
    opacity: 0.9;
    cursor: pointer;
}

#FS3{
    background-image: url("/images/FS3Big.jpg");
    background-size: cover;
    opacity: 0.9;
    cursor: pointer;
}

.dashboard-body{
    margin-left: 200px;
    font-size: 22px;
}

.dashboard-info{
    display: flex;
    margin: 20px 40px 20px 40px;
    width: 90%;
    align-content: center;
    justify-content: center;
    color: #f5e8ccff;
    text-align-all: center;
    font-size: 22px;


    /*padding-top: 20px;*/
    /*margin: auto;*/
    /*width: 300px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*text-align: center;*/
    /*font-family: "Palatino Linotype", monospace;*/
    /*color: #f5e8ccff;*/
}

.dashboard-info .left{
    font-size: 22px;
    text-align-all: left;
    right: 70px;
    flex: 25%;
    padding: 0px 0px 0px 25%;
}

.dashboard-info .middle{
    font-size: 22px;
    text-align-all: left;
    left: 70px;
    right: 0px;
    flex: 35px;
}

.dashboard-info .right{
    font-size: 22px;
    text-align-all: left;
    left: 0px;
    right: 0px;
    flex: 1px;
    width: 1px;
    color: #517b75;
}


.dashboard-info h3{
    font-size: 20px;
    text-align-all: left;

}



.splitscreen{
    display: flex;
    backface-visibility: hidden;
    font-family: "Palatino Linotype", monospace;
}

.splitscreen .left{
    flex: 1;
    margin: 10px;
    text-align: center;
    text-align-all: center;
    alignment: center;
    align-self: center;
    align-items: center;
    align-content: center;
    child-align: middle;
}
#chartContainer {
    alignment: center;
    align-self: center;
    align-items: center;
    align-content: center;
    height: 350px;
    width: 450px;
    left: 300px;
}

.splitscreen .right{
    flex: 1;
    margin: 10px;
    text-align: center;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}